<a href="https://colab.research.google.com/github/syaefulalam/office/blob/master/case%20car%20edx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# import pandas library
import pandas as pd

In [5]:
!git clone https://github.com/syaefulalam/office

fatal: destination path 'office' already exists and is not an empty directory.

In [0]:
data = pd.read_csv('office/case pricecar.csv', sep=';')

In [10]:
data.head (5)

   3    ?  alfa-romero  gas  std   two  ...  09.00  111  5000  21  27  13495
0  3    ?  alfa-romero  gas  std   two  ...  09.00  111  5000  21  27  16500
1  1    ?  alfa-romero  gas  std   two  ...  09.00  154  5000  19  26  16500
2  2  164         audi  gas  std  four  ...  10.00  102  5500  24  30  13950
3  2  164         audi  gas  std  four  ...  08.00  115  5500  18  22  17450
4  2    ?         audi  gas  std   two  ...  08.50  110  5500  19  25  15250

[5 rows x 26 columns]

In [11]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
print("headers\n", headers)

headers
 ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [13]:
data.columns = headers
data.head(10)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  16500
1          1                 ?  alfa-romero  ...       19          26  16500
2          2               164         audi  ...       24          30  13950
3          2               164         audi  ...       18          22  17450
4          2                 ?         audi  ...       19          25  15250
5          1               158         audi  ...       19          25  17710
6          1                 ?         audi  ...       19          25  18920
7          1               158         audi  ...       17          20  23875
8          0                 ?         audi  ...       16          22      ?
9          2               192          bmw  ...       23          29  16430

[10 rows x 26 columns]

In [14]:
#axis = 0 drops the entire row, axis = 1 drops the entire coloum, price = nama coloum
data.dropna(subset=["price"], axis=0)

     symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            3                 ?  alfa-romero  ...       21          27  16500
1            1                 ?  alfa-romero  ...       19          26  16500
2            2               164         audi  ...       24          30  13950
3            2               164         audi  ...       18          22  17450
4            2                 ?         audi  ...       19          25  15250
..         ...               ...          ...  ...      ...         ...    ...
199         -1                95        volvo  ...       23          28  16845
200         -1                95        volvo  ...       19          25  19045
201         -1                95        volvo  ...       18          23  21485
202         -1                95        volvo  ...       26          27  22470
203         -1                95        volvo  ...       19          25  22625

[204 rows x 26 columns]

In [15]:
data.dtypes

symboling             int64
normalized-losses    object
make                 object
fuel-type            object
aspiration           object
num-of-doors         object
body-style           object
drive-wheels         object
engine-location      object
wheel-base           object
length               object
width                object
height               object
curb-weight           int64
engine-type          object
num-of-cylinders     object
engine-size           int64
fuel-system          object
bore                 object
stroke               object
compression-ratio    object
horsepower           object
peak-rpm             object
city-mpg              int64
highway-mpg           int64
price                object
dtype: object

In [16]:
data.describe()

        symboling  curb-weight  engine-size    city-mpg  highway-mpg
count  204.000000   204.000000   204.000000  204.000000   204.000000
mean     0.823529  2555.602941   126.892157   25.240196    30.769608
std      1.239035   521.960820    41.744569    6.551513     6.898337
min     -2.000000  1488.000000    61.000000   13.000000    16.000000
25%      0.000000  2145.000000    97.000000   19.000000    25.000000
50%      1.000000  2414.000000   119.500000   24.000000    30.000000
75%      2.000000  2939.250000   142.000000   30.000000    34.500000
max      3.000000  4066.000000   326.000000   49.000000    54.000000

In [17]:
data.describe(include = "all")

         symboling normalized-losses    make  ...    city-mpg highway-mpg price
count   204.000000               204     204  ...  204.000000  204.000000   204
unique         NaN                52      22  ...         NaN         NaN   186
top            NaN                 ?  toyota  ...         NaN         NaN     ?
freq           NaN                40      32  ...         NaN         NaN     4
mean      0.823529               NaN     NaN  ...   25.240196   30.769608   NaN
std       1.239035               NaN     NaN  ...    6.551513    6.898337   NaN
min      -2.000000               NaN     NaN  ...   13.000000   16.000000   NaN
25%       0.000000               NaN     NaN  ...   19.000000   25.000000   NaN
50%       1.000000               NaN     NaN  ...   24.000000   30.000000   NaN
75%       2.000000               NaN     NaN  ...   30.000000   34.500000   NaN
max       3.000000               NaN     NaN  ...   49.000000   54.000000   NaN

[11 rows x 26 columns]

In [18]:
data.info

<bound method DataFrame.info of      symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            3                 ?  alfa-romero  ...       21          27  16500
1            1                 ?  alfa-romero  ...       19          26  16500
2            2               164         audi  ...       24          30  13950
3            2               164         audi  ...       18          22  17450
4            2                 ?         audi  ...       19          25  15250
..         ...               ...          ...  ...      ...         ...    ...
199         -1                95        volvo  ...       23          28  16845
200         -1                95        volvo  ...       19          25  19045
201         -1                95        volvo  ...       18          23  21485
202         -1                95        volvo  ...       26          27  22470
203         -1                95        volvo  ...       19          25  22625

[204 rows x 26 columns]>

In [0]:
data.to_csv("automobile.csv", index=False)

In [27]:
import numpy as np

# replace "?" to NaN
data.replace("?", np.nan, inplace = True)
data.head(5)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               122  alfa-romero  ...       21          27  16500
1          1               122  alfa-romero  ...       19          26  16500
2          2               164         audi  ...       24          30  13950
3          2               164         audi  ...       18          22  17450
4          2               122         audi  ...       19          25  15250

[5 rows x 26 columns]

In [30]:
missing_data = data.isnull()
missing_data.head(5)

   symboling  normalized-losses   make  ...  city-mpg  highway-mpg  price
0      False              False  False  ...     False        False  False
1      False              False  False  ...     False        False  False
2      False              False  False  ...     False        False  False
3      False              False  False  ...     False        False  False
4      False              False  False  ...     False        False  False

[5 rows x 26 columns]

In [31]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
False    204
Name: symboling, dtype: int64

normalized-losses
False    204
Name: normalized-losses, dtype: int64

make
False    204
Name: make, dtype: int64

fuel-type
False    204
Name: fuel-type, dtype: int64

aspiration
False    204
Name: aspiration, dtype: int64

num-of-doors
False    202
True       2
Name: num-of-doors, dtype: int64

body-style
False    204
Name: body-style, dtype: int64

drive-wheels
False    204
Name: drive-wheels, dtype: int64

engine-location
False    204
Name: engine-location, dtype: int64

wheel-base
False    204
Name: wheel-base, dtype: int64

length
False    204
Name: length, dtype: int64

width
False    204
Name: width, dtype: int64

height
False    204
Name: height, dtype: int64

curb-weight
False    204
Name: curb-weight, dtype: int64

engine-type
False    204
Name: engine-type, dtype: int64

num-of-cylinders
False    204
Name: num-of-cylinders, dtype: int64

engine-size
False    204
Name: engine-size, dtype: int64

fuel-system
False    204
Name: fuel-system, dtype: int64

bore
False    200
True       4
Name: bore, dtype: int64

stroke
False    200
True       4
Name: stroke, dtype: int64

compression-ratio
False    204
Name: compression-ratio, dtype: int64

horsepower
False    202
True       2
Name: horsepower, dtype: int64

peak-rpm
False    202
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    204
Name: city-mpg, dtype: int64

highway-mpg
False    204
Name: highway-mpg, dtype: int64

price
False    200
True       4
Name: price, dtype: int64

In [24]:
avg_norm_loss = data["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

Average of normalized-losses: 122.0

In [0]:
data["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

In [0]:
data['bore'] = (data['bore'].replace(',','.', regex=True)
                        .astype(float))

In [39]:
avg_bore=data["bore"].astype("float").mean(axis=0)
print("Average of bore:", avg_bore)

Average of bore: 2.179153472275003

In [0]:
data["bore"].replace(np.nan, avg_bore, inplace=True)

In [42]:
avg_horsepower = data['horsepower'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)

Average horsepower: 104.22277227722772

In [0]:
data['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

In [44]:
avg_peakrpm=data['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)

Average peak rpm: 5125.990099009901

In [0]:
data['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

In [46]:
data['num-of-doors'].value_counts()

four    114
two      88
Name: num-of-doors, dtype: int64

In [47]:
data['num-of-doors'].value_counts().idxmax()

'four'

In [0]:
#replace the missing 'num-of-doors' values by the most frequent 
data["num-of-doors"].replace(np.nan, "four", inplace=True)

In [0]:
# simply drop whole row with NaN in "price" column
data.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
data.reset_index(drop=True, inplace=True)

In [52]:
data.head(5)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               122  alfa-romero  ...       21          27  16500
1          1               122  alfa-romero  ...       19          26  16500
2          2               164         audi  ...       24          30  13950
3          2               164         audi  ...       18          22  17450
4          2               122         audi  ...       19          25  15250

[5 rows x 26 columns]

In [51]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
False    204
Name: symboling, dtype: int64

normalized-losses
False    204
Name: normalized-losses, dtype: int64

make
False    204
Name: make, dtype: int64

fuel-type
False    204
Name: fuel-type, dtype: int64

aspiration
False    204
Name: aspiration, dtype: int64

num-of-doors
False    202
True       2
Name: num-of-doors, dtype: int64

body-style
False    204
Name: body-style, dtype: int64

drive-wheels
False    204
Name: drive-wheels, dtype: int64

engine-location
False    204
Name: engine-location, dtype: int64

wheel-base
False    204
Name: wheel-base, dtype: int64

length
False    204
Name: length, dtype: int64

width
False    204
Name: width, dtype: int64

height
False    204
Name: height, dtype: int64

curb-weight
False    204
Name: curb-weight, dtype: int64

engine-type
False    204
Name: engine-type, dtype: int64

num-of-cylinders
False    204
Name: num-of-cylinders, dtype: int64

engine-size
False    204
Name: engine-size, dtype: int64

fuel-system
False    204
Name: fuel-system, dtype: int64

bore
False    200
True       4
Name: bore, dtype: int64

stroke
False    200
True       4
Name: stroke, dtype: int64

compression-ratio
False    204
Name: compression-ratio, dtype: int64

horsepower
False    202
True       2
Name: horsepower, dtype: int64

peak-rpm
False    202
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    204
Name: city-mpg, dtype: int64

highway-mpg
False    204
Name: highway-mpg, dtype: int64

price
False    200
True       4
Name: price, dtype: int64

In [53]:
data.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base            object
length                object
width                 object
height                object
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke                object
compression-ratio     object
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object