<a href="https://colab.research.google.com/github/syaefulalam/office/blob/master/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
!git clone https://github.com/syaefulalam/office

Cloning into 'office'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.

In [0]:
data = pd.read_csv('office/Profile age Msisdn per Okt 19.csv', sep=',')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
data.head (5)

         msisdn unit_type        unit_name brand  age
0   08113190388   grapari  SURABAYA PEMUDA   NaN  NaN
1   08113190388   grapari  SURABAYA PEMUDA   NaN  NaN
2  081326631110   grapari       YOGYAKARTA   NaN  NaN
3  081326631110   grapari       YOGYAKARTA   NaN  NaN
4  081326631110   grapari       YOGYAKARTA   NaN  NaN

In [0]:
data.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551965 entries, 0 to 551964
Data columns (total 5 columns):
msisdn       551965 non-null object
unit_type    551965 non-null object
unit_name    551965 non-null object
brand        531012 non-null object
age          455723 non-null float64
dtypes: float64(1), object(4)
memory usage: 21.1+ MB

In [0]:
print(data.columns)

Index(['msisdn', 'unit_type', 'unit_name', 'brand', 'age'], dtype='object')

In [0]:
print(data['age'])

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
551960    34.0
551961    29.0
551962    29.0
551963    29.0
551964    29.0
Name: age, Length: 551965, dtype: float64

In [0]:
print(data.iloc[5])

msisdn       081326631110
unit_type         grapari
unit_name      YOGYAKARTA
brand                 NaN
age                   NaN
Name: 5, dtype: object

In [0]:
print(data.iloc[5:10])

         msisdn unit_type   unit_name brand  age
5  081326631110   grapari  YOGYAKARTA   NaN  NaN
6  081326631110   grapari  YOGYAKARTA   NaN  NaN
7  081326631110   grapari  YOGYAKARTA   NaN  NaN
8  081326631110   grapari  YOGYAKARTA   NaN  NaN
9  081326631110   grapari  YOGYAKARTA   NaN  NaN

In [0]:
print(data['age'].iloc[1])
print("Cuplikan Dataset:")
print(data.head())

In [0]:
print(data.isnull().values.any())